{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
    <h1>Admin</h1>
    <hr>
    <h3>Users</h3>
    <table class="table table-stripped">
        <tr>
            <th>Nickname</th>
            <th>Email</th>
        </tr>
        {% for user in json_data["page-users"] %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ json_data["page-users"][user]["email"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <h3>Page Requests</h3>
    <table class="table table-stripped">
        <tr>
            <th>IP</th>
            <th>Continent</th>
            <th>Region</th>
            <th>City</th>
            <th>Postal</th>
            <th>Country</th>
            <th>position</th>
            <th>Connection</th>
            <th>Newest Login</th>
            <th>Login Datetime</th>
        </tr>
        {% for ip in json_data_ip %}
        <tr>
            <td>{{ ip }}</td>
            <td>{{ json_data_ip[ip]["continent"] }}</td>
            <td>{{ json_data_ip[ip]["region"] }}</td>
            <td>{{ json_data_ip[ip]["city"] }}</td>
            <td>{{ json_data_ip[ip]["postal"] }}</td>
            <td>{{ json_data_ip[ip]["country"] }}</td>
            <td>{{ json_data_ip[ip]["position"] }}</td>
            <td>{{ json_data_ip[ip]["connection"] }}</td>
            <td>{{ json_data_ip[ip]["last-visit"]["new"] }}</td>
            <td>{{ json_data_ip[ip]["last-visit"]["old"] }}</td>
        </tr>
        {% endfor %}
    </table>

</center>

{% endblock %}