{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
	<h1>
		Software Dieburg - Speedquiz
	</h1>
	<hr>
	
	<p style="font-size: 24px;">
		Die Regenln des Speed Quiz sind ganz einfach. VErsuche so schnell wie möglich alle Fragen richtig zu beantworten und 
		sicher dir deinen Platz auf dem Leaderboard! <br>
		Um an dem Quiz teilzunehmen, musst du dich einloggen bez. vorab registrieren!

	</p>
	<a class="btn btn-outline-info btn-lg" href="/register">Registrieren</a>
	<br>
	<br>
	<br>
	{% if "nickname" not in session %}
		<a class="btn btn-outline-success btn-lg" href="/login">Login</a>
	{% else %}
		<a class="btn btn-outline-success btn-lg" href="/quiz_lobby">Quiz</a>
	{% endif %}
</center>

{% endblock %}
