{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
    <h1>Quiz Lobby</h1>
    <hr>
    <p>Um eine eigene Quizrunde erstellen zu können, registriere dich bitte!</p>
    {% if "nickname" not in session %}
        <form method="POST">
            <p>Dein Nickname darf nur zusammengeschrieben sein!</p>
            <div class="form-group" >{{render_field(form.nickname, class="form-control")}}</div>
            <br>
            <center><input type="submit" class="btn btn-outline-success btn-lg" value="Enter" /></center>
        </form>
    {% else %}
        <a href="/quiz_create_new_lobby" class="btn btn-outline-success btn-lg">Neues Quiz erstellen</a>
    {% endif %}

    <table class="table table-stripped">
        <tr>
            <th>Gruppen Name</th>
            <th>Anzahl Fragen</th>
            <th>Leaderboard</th>
            <th>Owner</th>
            <th>Aktion</th>
        </tr>
        {% for group in json_data["groups"] %}
            <tr>
                <td>{{ group }}</td>
                <td>{{ json_data["groups"][group]["questions"]|length }}</td>
                <td><a href="/quiz_leaderboard/{{ group }}">Leaderboard</a></td>
                {% if session["nickname"] == json_data["groups"][group]["owner"] %}
                <td><a href="/quiz_show/{{ group }}">Quiz bearbeiten</a></td>
                {% else %}
                <td>{{ json_data["groups"][group]["owner"] }}</td>
                {% endif %}
                <td><a href="/quiz/{{ group }}">Quiz Starten</a></td>
            </tr>
        {% endfor %}
    </table>

</center>
{% endblock %}
