{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center><h1>Registrieren</h1></center>
<hr>
<!-- BODY -->
<form method="POST">
    <div class="form-group" >{{render_field(form.register_nickname, class="form-control")}}</div>
    <div class="form-group" >{{render_field(form.register_email, class="form-control")}}</div>
    <div class="form-group" >{{render_field(form.register_password, class="form-control")}}</div>
    <div class="form-group" >{{render_field(form.register_confirm_password, class="form-control")}}</div>
    <br>
    <center><input type="submit" class="btn btn-outline-success btn-lg" value="Registrieren" /></center>
</form>


{% endblock %}
