
<nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand" href="/">Software-Dieburg Games</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/quiz_lobby"> Quiz Lobby </a>
      </li>
      
    </ul>
    {% if "nickname" not in session %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
    <span style="width: 5px;"></span>
    <a class="btn btn-outline-danger my-2 my-sm-0" href="/register">Registrieren</a>
    <span style="width: 20px;"></span>
    {% endif %}
  </div>
</nav>