{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
    <h1>Busfahren Lobby</h1>
    <hr>
    {% if "nickname" in session %}
    <h3></h3>
    {% endif %}
    <hr>
    {% if "nickname" not in session %}
    <form method="POST">
        <div class="form-group" >{{render_field(form.busfahren_nickname, class="form-control")}}</div>
        <br>
        <center><input type="submit" class="btn btn-outline-success btn-lg" value="Enter" /></center>
    </form>
    {% else %}
    <p>Du bist dabei mit dem Nicknamen: {{ session["nickname"]}}</p>
    {% endif %}
    <hr><hr>
    <p>Es ist/sind {{ anz_players }} Spieler in der Lobby </p>
    {% if anz_players > 1 %}
    <form method="POST">
        <center><input type="submit" class="btn btn-outline-success btn-lg" value="Starten" /></center>
    </form>
    {% else %}
    <h3>Es sind noch nicht genügend Spieler vorhanden um das Spiel zu starten!</h3>
    <br>
    <a class="btn btn-outline-success btn-lg" href="/busfahren_lobby">refresh</a>
    {% endif %}

</center>
{% endblock %}
