{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
    <h1>Busfahren</h1>
    <hr>
    {% for card in json_busfahren["map"] %}    
        <!-- KARTEN -->
        <p>{{ card }}</p>
    {% endfor %}
    <hr><hr>
    <h3>Meine Karten</h3>
    <p>Zum Legen die entsprechende Karte drücken</p>
    <br>

    {% for card in json_busfahren[session["nickname"]] %}
        <p>{{ card }}</p>
    {% endfor %}

    <hr><hr>
    {% if not session["busfahren_status"] %}
    <form method="POST">
        <center><input type="submit" class="btn btn-outline-success btn-lg" value="Bereit" /></center>
    </form>
    {% else %}
    <h3>Du bist bereit!</h3>
    {% endif %}


    <!-- TESTING -->
    <div id="triangle_card" style="width:50px; height:75px; border-style:solid; border-radius:10px;">
        <div id="corner-left"></div>
        <div id="coner-bottom-right"></div>
        <div id="card-value"></div>
    </div>

    <div id="player_card" style="width:100px; height:150px; border-style:solid; border-radius:10px;">
    
    </div>

</center>
{% endblock %}
