{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
    <h1>Busfahren</h1>
    <table>
        {% for i in trigangle_cards %}
            <div>
                <p>
                    {{ i }}    
                </p>
            </div>
        {% endfor %}
    </table>

    <hr><hr>
    <h3>Meine Karten</h3>
    <hr><hr>
    <p>{{ player_cards }}</p>
    {% for i in player_cards %}
        <div>
            <a>
                <p>
                    {{ i }}
                </p>
            </a>
        </div>
    {% endfor %}

    <div id="triangle_card" style="width:50px; height:75px; border-style:solid; border-radius:10px;">
        <div id="corner-left"></div>
        <div id="coner-bottom-right"></div>
        <div id="card-value"></div>
    </div>

    <div id="player_card" style="width:100px; height:150px; border-style:solid; border-radius:10px;">
    
    </div>

</center>
{% endblock %}
