{% extends 'includes/layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<center>
	<h1>
		Software Dieburg
	</h1>
	<hr>
	
	<p style="font-size: 24px;">
		Ihr Ansprechpartner wenn es um Medientechnik, Software-Lösungen oder IT-Dienstleistungen geht!
		Sie können Ihre Anfragen per Email an mich senden (info@software-dieburg.de) oder das Kontaktformular verwenden.<br>
		Wenn Sie sich registrieren, können Sie live den Status Ihrer Anfrage abrufen.
	</p>
	<br>
	<a class="btn btn-outline-info btn-lg" href="/contact-page">Zum Kontaktformular</a>
</center>

{% endblock %}
